[Unit]
Description=WakeOnLan WebServer
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/WakeOnLan/run.sh
WorkingDirectory = /opt/WakeOnLan
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes

[Install]
WantedBy=multi-user.target
